<!-- Navigation -->
<%= render 'navbar_subscribe' %>

<%= form_tag(payment_path) do %>
<div class="row">
    <div class="col-md-12">
        <h2> Choose Preferences </h2>
        <% tracks = ['Popular Track', 'Vegetarian Track', 'Vegan Track', 'Meat Lovers','Seafood Track', 'International Track'] %>
        <label>
        <% tracks.each do |track| %>
            <%= check_box_tag('preferences[]', track) %><%= " #{track} " %>
        <% end %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2> Choose Area </h2>
        <%= text_field_tag(:email,'',{placeholder: 'Email*'}) %>
        <%= text_field_tag(:zipcode,'',{placeholder: 'Zipcode*'}) %>
        <%= text_field_tag(:phone,'',{placeholder: 'Phone*'}) %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2> Choose Day </h2>
        <% days = ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun'] %>
        <h3> Lunch Delivery </h3>
        <label>
        <% days.each do |day| %>
            <%= check_box_tag('lunch[]', day) %><%= " #{day} " %>
        <% end %>
        </label>
        <h3> Dinner Delivery </h3>
        <label>
        <% days.each do |day| %>
            <%= check_box_tag('dinner[]', day) %><%= " #{day} " %>
        <% end %>
        </label>

    </div>
</div>

<%= submit_tag("Check Out") %>
<% end %>